.alternate {
  background-color: #ace0ff;
}

.reference {
  /* keep me */
}


.form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  align-items: flex-end;
}

.form :global(.ant-form-item) {
  display: flex;
}

.form :global(.ant-form-item-control-wrapper) {
  flex: 1;
}

.tableXS :global .ant-table.ant-table-small .ant-table-title,
.tableXS :global .ant-table.ant-table-small .ant-table-footer,
.tableXS :global .ant-table.ant-table-small .ant-table-thead > tr > th,
.tableXS :global .ant-table.ant-table-small .ant-table-tbody > tr > td,
.tableXS :global .ant-table.ant-table-small tfoot > tr > th,
.tableXS :global .ant-table.ant-table-small tfoot > tr > td {
  padding: 4px;
}
