.cnt {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.cnt > :global(button) + :global(button) {
    margin-left: .6em;
}

.cnt > :global(button) {
    margin-top: .4em;
    margin-bottom: .4em;
}
