.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 20em;
  max-width: 80em;
  margin: 0 auto;
}

.logo {
  height: 100%;
  line-height: 1;
  background: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 0 1em 0 0;
  float: left;
  font-size: 1.75em;
  font-weight: 800;
  line-height: 64px;
  background-color: #19284B;
  color: #fff;
}

.logo {
  display: none;
}

@media screen and (min-width: 35em) {
  .logo {
    display: block;
  }
}

